body {
    text-align: center;
}
.counter,h1, .restart{
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
  
}
.restart{
    color: red;
    position: absolute;
    left: 45%;
    margin-top: 15px;

}
.buttn{
    width: 100%;
}
.live{
width: 25px;
height: 40px;
}  
    

.lives{
    position: relative;
   right: 220px;
   top:100px;
   margin: -20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 100%;
  
}

.modal-content {
    background-color: #fefbfb;
   color: #2f0202;
    margin: 25% auto;
    padding: 20px;
    width: 50%;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}