body {
    text-align: center;
}
.counter,h1, .restart{
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
  
}
.restart{
    color: red;
    position: absolute;
    left: 45%;
    margin-top: 15px;

}
.buttn{
    width: 100%;
}
.live{
width: 25px;
height: 40px;
}  
    

.lives{
    position: relative;
   right: 220px;
   top:100px;
   margin: -20px;

}
